version: '3.8'

services:
  # Go приложение
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=pr_reviewer_db_1
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_DBNAME=pr_review_db
      - DB_SSLMODE=disable
    depends_on: 
      - db
    networks:
      - mynet

  # База данных PostgreSQL
  db:
    image: postgres:15-alpine
    container_name: pr_reviewer_db_1
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=pr_review_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks: 
      - mynet

volumes:
  postgres_data:

networks:
  mynet:
    driver: bridge